/build/
/bin/
/lib/
/dist/
/test-output/
/jvm/test-output/
/temp*
*.settings/
/nbproject/private/
*target/
.classpath
.project
.checkstyle
*.class
*.jar
*.war
*.ear
/*.launch
/*.dic
/.idea
*.iml
.metals/
.bloop/
/project/project/
/project/target/
shared/js/src/main/resources/
tzdb/js/src/main/resources/

/src/*/
!/src/changes/
!/src/main/
!/src/site/
!/src/test/

**/TempTest.java
/.idea/
/threetenbp.iml
.metaserver/
